/* Powered by markdown-it-beautiful-link. */
.prose-link:not(:has(img, picture, figure, figcaption)) {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(136 136 136 / 0.47);
    border-radius: 0.25rem;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.25s;
  }
  &:hover::after {
    width: 95%;
  }
}

.prose-link {
  position: relative;

  & [type='detail'] {
    color: rgb(235 203 139 / 0.37);
    > svg {
      display: inline;
      color: rgb(235 203 139 / 0.9);
      margin-right: 0.0875em;
    }
  }
  & [type='repo'] {
    color: rgb(255 214 10 / 0.67);
    > svg {
      display: inline;
      color: rgb(255 214 10 / 0.9);
      margin-right: 0.0875em;
    }
  }
  & [type='user'] {
    color: rgb(255 55 95 / 0.87);
    > svg {
      display: inline;
      color: rgb(255 55 95 / 0.9);
      margin-right: 0.0875em;
    }
  }
  &:has([type='user'])::after {
    background: linear-gradient(-90deg, rgb(255 55 95 / 0.87), transparent);
  }
  &:has([type='repo'])::after {
    background: linear-gradient(-90deg, rgb(255 55 95 / 0.87), rgb(255 214 10 / 0.67));
  }
  &:has([type='detail'])::after {
    background: linear-gradient(-90deg, rgb(255 214 10 / 0.67), rgb(235 203 139 / 0.37));
  }
}

.prose-link > span > svg {
  display: inline;
  margin-right: 0.0875em;
  width: 1em;
  height: 1em;
}
