name: Publish to npm

on:
  release:
    types: [created]
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths-ignore:
      - LICENSE
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - run: npm install -g npm@latest

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Configure git
        run: |
          git config --global user.name "${{env.git.GIT_USER}}"
          git config --global user.email "${{env.git.GIT_EMAIL}}"

      - name: Publish
        run: pnpm publish --provenance --access public
